<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/main.css" th:href="@{/style/main.css}">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,400,700" rel="stylesheet">
    <title>Rejestracja</title>
</head>
<body>
<div class="content flexbox flexbox-center">

    <div class="form-container">

        <h1 class="heading text-center">Rejestracja</h1>

        <form th:action="@{/register}" method="post" th:object="${reg}">

            <label class="input-field-container">
                Login
                <input type="text" th:field="*{username}"
                       class="input-field full-width">
                <span class="validation-error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Błędny login</span>
            </label>
            <label class="input-field-container">
                Hasło
                <input type="password" th:field="*{password}"
                       class="input-field full-width">
                <span class="validation-error" th:if="${#fields.hasErrors('password')}"
                      th:errors="*{password}">Złe hasło</span>
            </label>
            <label class="input-field-container">
                Potwierdź hasło
                <input type="password" th:field="*{confirmPassword}"
                       class="input-field full-width">
                <span class="validation-error" th:if="${#fields.hasErrors('confirmPassword')}"
                      th:errors="*{confirmPassword}">Hasła nie pasują do siebie</span>
            </label>

            <label class="input-field-container">
                Imie
                <input type="text" th:field="*{firstName}"
                       class="input-field full-width">
                <span class="validation-error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Błąd imienia</span>
            </label>

            <label class="input-field-container">
                Nazwisko
                <input type="text" th:field="*{lastName}"
                       class="input-field full-width">
                <span class="validation-error" th:if="${#fields.hasErrors('lastName')}"
                      th:errors="*{lastName}">Błąd nazwiska</span>
            </label>

            <input type="submit" value="Register" class="button full-width top-bottom-margin">

        </form>

        <a href="login.html" th:href="@{/login}" class="float-right">Posiadasz już konto? Zaloguj się</a>


    </div>
</div>
</body>
</html>
